<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <%=name%>
    <% products.forEach(product => { %>
        <div>
            <img src="https://fastly.picsum.photos/id/428/300/200.jpg?hmac=ikKOcamKDMicSZKD7eMbhzgMNNbyCucuLohsjaMt740">
            <h3><%= product.name %></h3>
            <p><%= product.description %></p>
            <p>₹<%= product.price %></p>
        </div>
    <% }) %>
</body>
</html>